.input {
	width: 100%;
	min-width: 300px;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 38px;
	border: 1px solid var(--color-border);
	background: var(--color-surface);
	color: var(--color-text);
	font-size: 1rem;

	outline: none;
}