.input {
	width: 100%;
	padding: 1rem 1.5rem;
	margin: 1rem 0;
	border-radius: 16px;
	border: 1px solid var(--color-border);
	background-color: transparent;
	color: var(--color-text);
	font-size: 1.125rem;
	font-family: 'PT Serif', serif;
	outline: none;
	transition: border 0.2s ease-in-out;
	box-sizing: border-box;
}

.input:focus {
	background-color: var(--color-surface);
	border-color: var(--color-primary);
	box-shadow: 0 0 0 2px rgba(229, 136, 70, 0.1);
}

.input::placeholder {
	color: var(--color-muted);
	opacity: 0.8;
}

.input:hover {
	border-color: var(--color-primary);
}

.input[data-special="true"] {
	border-color: rgb(255, 88, 88);
	box-shadow: 0 0 10px rgb(255, 88, 88);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 5px rgb(255, 88, 88);
	}
	50% {
		box-shadow: 0 0 15px rgb(255, 0, 0);
	}
	100% {
		box-shadow: 0 0 5px rgb(255, 88, 88);
	}
}