.word {
	min-height: 300px;
	width: 100%;
	max-width: 600px;
	
	background: rgba(39, 39, 39, 0.8);
	border: 1px solid var(--color-border);
	border-radius: 8px;

	margin: 1rem auto;
	padding: 2rem 1rem;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wordTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	flex-wrap: wrap;
	font-size: 1.5rem;
}

.phonetic {
	color: var(--color-primary);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 0.5rem;
}

.phonetic::before {
	content: '•';
	margin-right: 0.5rem;
	color: rgb(108, 108, 108);
}

.playButton {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--color-muted);
	transition: color 0.3s ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.playButton:hover {
	display: inline-block;
	color: var(--color-text);
	background: transparent;
}

.meaning {
	margin-top: 1.5rem;
	line-height: 1.6;
	color: var(--color-text);
}

.partOfSpeech {
	font-style: italic;
	color: var(--color-secondary);
	margin-bottom: 0.5rem;
	background: rgba(108, 108, 108, 0.1);
	padding: 0.2rem 0.5rem;
	border-radius: 4px;
	display: inline-block;
	width: fit-content;
}

.definition:first-child {
	counter-reset: example-counter;
}

.definition {
	margin-bottom: 1rem;
	counter-increment: example-counter;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.definition::before {
	content: counter(example-counter) '. ';
	font-weight: bold;
	margin-right: 0.5rem;
}

.definition:last-child {
	margin-bottom: 0;
}

.example {
	margin-top: 0.5rem;
	font-style: italic;
	color: var(--color-muted);
}

.example::before {
	content: '“';
}

.example::after {
	content: '”';
}

.source {
	color: var(--color-muted);
	display: flex;
	align-items: center;
	justify-content: center;
}

.source a {
	color: var(--color-muted);
	text-decoration: underline;
}