.error {
	border: 2px dashed rgb(118, 40, 40);
	border-radius: 8px;
	margin: 1rem auto;
	padding: 2rem 1rem;
	box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
	text-align: center;
	animation: fadeIn 0.5s ease-in-out;
	background: rgba(38, 6, 6, 0.9);
	width: 100%;
	color: var(--color-muted);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}