@import "tailwindcss";

:root {
	--color-primary: #e58846;
	--color-secondary: #f5bf7d;
	--color-background: #1a1a1a;
	--color-surface: #2a2a2a;
	--color-text: #dadada;
	--color-muted: #888888;
	--color-border: #333333;
}

@theme {
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-background: var(--color-background);
	--color-surface: var(--color-surface);
	--color-text: var(--color-text);
	--color-muted: var(--color-muted);
	--color-border: var(--color-border);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	font-family: serif;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	min-height: 100vh;
	width: 100%;
	padding: 5rem;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

button {
	background-color: var(--color-primary);
	color: var(--color-background);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 1rem;
}

button:hover {
	background-color: var(--color-secondary);
}